@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

html,body{
	height:100%;
}
.container-fluid{
	min-height: 90%;
}

.container-main{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 768px) {
  .container-main {
    width: 95%;
  }
}
body{
  font-family: 'Do Hyeon', sans-serif;
  font-size: 19px;
}
.main-logo{
	width:47px;
	height:47px;
	margin: -13px;
}
.bg-image-main{
	background-image:url("https://img.uefa.com/imgml/uefacom/rebrands/ucl-bg-header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	left:0px;
	top:0px;
	z-index: -1;
	width:100%;
	height:100%;
	
}
.bg-none{
	background-color:transparent !important;
}
.text-white{
	color:white;
}
.text-gray{
	color:gray;
}
.bg-blue-opacity{
	background-color: rgba(0,0,75,0.7);
}
.border-none{
	border: 0px;
}
.bg-footer{
	background-image:url("https://img.uefa.com/imgml/uefacom/ucl/2018/footer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	min-height:10%;
	z-index: -1;
}
.vertical-center{
	margin-top:10%;
}
.tab-space-1{
	display:inline-block;
	margin-left:4rem;
}
.tab-space-4{
	display:inline-block;
	margin-left:16rem;
}
.enter-row-1{
	display:block;
	margin-bottom:1rem;
}
.enter-row-4{
	display:block;
	margin-bottom:4rem;
}


.badge-owner, .badge-planned, .badge-win, .badge-join, .badge-vote-over-80, .badge-pop-on{
	background-color: green;
	color: white;
}
.badge-notification{
	background-color: green;
	color: white;
	width: 3px;
	height:14px;
	margin-top: 2px;
}
.badge-user, .badge-draw, .badge-recorded, .badge-vote-end, .badge-pop-off{
	background-color: gray;
	color: white;
}
.badge-manager, .badge-unrecorded, .badge-novote, .badge-vote-over-50{
	background-color: yellow;
	color: blue;
}
.badge-unplanned, .badge-lose, .badge-nojoin, .badge-admin, .badge-vote-under-50{
	background-color: red;
	color: white;
}

.divider{
	border-color: rgba(128, 128, 128, .7);
	width:80%;
}
.social-logo{
	width:50%;
	height:50%;
}
.top{
	position:fixed;
	right:5%;
	bottom:5%;
	z-index: 999;
	opacity: 0.7;
}
.top:hover {
	opacity: 1;
}
.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 204,.7) !important;
}
.dp-none{
	display:none;
}
.large-font{
	font-size:2.5em;
}
.tactics-board{
	width:100%;
	height:100%;
}

.scroll-box-1 {
	height:230px;
	overflow:scroll;
	overflow-y:scroll;
}

.scroll-box-personal-record {
	height:470px;
	overflow-y:auto;
}
.scroll-box-tactics-lineup{
	height:800px;
	overflow-y:auto;
}
.scroll-box-attach{
	overflow-x:auto;
}
.scroll-reply{
	height:300px;
	overflow-y:auto;
}
@media (max-width: 768px) {
  .scroll-box-personal-record, .scroll-box-tactics-lineup, .scroll-reply  {
    height:230px;
  }
}

.comment-text{
	width:90%;
	border-radius: 20px 20px;
}
.comment-box{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.width-20{
	width:50px;
	display:inline-block;
}
.player{
	width:20px;
	height:20px;
	background-color:yellow;
	border-radius: 100%;
}
.board-top td{
/* 	color:rgb(255,51,51); */
	font-weight: bold;
	font-size: larger;
}



.on-off-ckbox {
	position: absolute;
	visibility: hidden;
}

.on-off-label {
	display: block;
	position: absolute;
	width: 60px;
	height: 34px;
	border-radius: 17px;
	background-color: #ddd;
	transition-duration: 0.2s;
}

.on-off-label span {
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 1;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #fff;
	transition-duration: 0.2s;
}

.on-off-label:before, .on-off-label:after {
	position: absolute;
	top: 0;
	width: 34px;
	font-size: 11px;
	line-height: 34px;
	color: #fff;
	text-align: center;
}

.on-off-label:before {
	left: 0;
	content: 'ON';
}

.on-off-label:after {
	right: 0;
	content: 'OFF';
}

.on-off-ckbox:checked+.on-off-label {
	background-color: #00c73c;
}

.on-off-ckbox:checked+.on-off-label span {
	transform: translateX(26px);
}


