<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.clubmanager.mapper.AnnMapper">


	<select id="getAnnList" resultType="com.clubmanager.domain.AnnVO">
		select sq.* 
		from 
			(
			select /*+ INDEX_DESC(tbl_announcements pk_announcements) */
			*
			from tbl_announcements
			where
				annTitle like concat('%',#{keyword},'%')
				or	annContent like concat('%',#{keyword},'%')
			) sq
		limit #{offset} ,  #{amount}
	</select>
	
	<select id="getAnnTotalNum"  resultType="int">
		select count(*) 
		from tbl_announcements
		where 
			(	
				annTitle like concat('%',#{keyword},'%')
				or	annContent like concat('%',#{keyword},'%')
			)
	</select>
	
	<update id="addSeqNo">
		update tbl_seq 
		set val = val + 1
		where type = 'seq_ann'
	</update>
	
	<insert id="insert">
		<selectKey keyProperty="annNo" order="BEFORE" resultType="int">
			select val from tbl_seq where type = 'seq_ann'
		</selectKey>
		insert into tbl_announcements (annNo, annTitle, annContent, annPopup)
		values (#{annNo}, #{annTitle}, #{annContent}, #{annPopup})
	</insert>
	
	<delete id="delete">
		delete from tbl_announcements 
		where annNo =  #{annNo}
	</delete>
	
	<update id="modify">
		update tbl_announcements
		set annTitle = #{annTitle},
			annContent = #{annContent},
			annPopup = #{annPopup},
			annDate = now()
		where annNo = #{annNo}
	</update>
	
	
	<select id = "getAnnPopupList" resultType="com.clubmanager.domain.AnnVO">
		select * from tbl_announcements where annPopup = 1
	</select>
</mapper>