<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clubmanager.mapper.RecordMapper">

	<insert id="insertPR">
		insert into tbl_personalRecord(mom, goals, assists, saves, userId, userName, matchNo)
		values(#{mom},#{goals},#{assists},#{saves},#{userId},#{userName},#{matchNo})
	</insert>

	<delete id="deletePR">
		delete from tbl_personalRecord
		where matchNo = #{matchNo}
			and userId = #{userId}
	</delete>

	
	<select id="getPRList" resultType="com.clubmanager.domain.PersonalRecordDTO">
		select /*+ INDEX(tbl_personalRecord idx_pr) */ * 
		from tbl_personalRecord
		where matchNo = #{matchNo}
	</select>
	
	<select id="getAllPR" resultType="com.clubmanager.domain.PersonalRecordDTO">
		select /*+ INDEX(tbl_personalRecord idx_pr) */ * 
		from tbl_personalRecord
		where userId = #{userId}
	</select>
	
	<select id="getMR" resultType="com.clubmanager.domain.MatchRecordVO">
		select /*+ INDEX(tbl_matchRecord idx_mr) */ *  
		from tbl_matchRecord
		where matchNo = #{matchNo}
	</select>
	
	<select id="getOverMRList" resultType="com.clubmanager.domain.MatchRecordVO">
		select /*+ INDEX(tbl_matchRecord idx_mr) */ * 
		from tbl_matchRecord
		where clubCode = #{clubCode}
			and results > 0
		
	</select>
	
	<insert id="insertMR">
		insert into tbl_matchRecord(matchNo, clubCode)
		values(#{matchNo},#{clubCode} )
	</insert>
	
	<update id="modifyPR">
		update tbl_personalRecord
		set goals = #{goals}
			,assists = #{assists}
			,saves = #{saves}
		where matchNo = #{matchNo}
		and userId = #{userId}
	</update>
	
	
	<update id="modifyMR">
		update tbl_matchRecord
		set goal = #{goal}
			,extraGoal = #{extraGoal}
			,lostPoint = #{lostPoint}
			,comments = #{comments}
			,results = #{results}
		where matchNo = #{matchNo}
	</update>
	
	<update id="picked">
		update tbl_personalRecord
		set mom = 1
		where matchNo=#{matchNo}
			and userId=#{userId}
	</update>
	
	<update id="writeMoM">
		update tbl_matchRecord
		set mom=#{userName}
		where matchNo = #{matchNo}
	</update>
	

</mapper>